@font-face {
    font-family: roboto;
    src: url("font/Roboto-Black.ttf");
}
*{
    margin: 0;
    padding: 0;
  
}
li{
    font: roboto;
color: black;
}
h1{
    color: black;
    text-transform: uppercase;
}
#texto{
    font:normal;
    color: black;
}
img{
    border-radius: 50%;
    border: 2px solid gray;
    transition: 2s all ease;
}
img:hover{
    transition: 2s all ease;
    transform: scale(1.2) ;
}
h3{
    color: black;
}
div{
    background-color: rgb(23, 112, 156);
    width: 200;
    height: 300;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
