@font-face {
    font-family: roboto;
    src: url("font/Roboto-Black.ttf");
}
*{
    margin: 0;
    padding: 0;
  
}
li{
    font: roboto;
color: black;
}
h1{
    
    text-transform: uppercase;
}
#texto{
    font:normal;
    color: black;  
   
   text-shadow: 1px 1px 2px yellow;
}
img{
    border-radius: 50%;
    border: 2px solid gray;
    transition: 2s all ease;
}
img:hover{
    transition: 2s all ease;
    transform: scale(1.2) ;
}

div{
    background-color: rgb(23, 112, 156);
    width: 200;
    height: 300;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
td{
    color: white;
}
input{
    margin: 20px;
}
#boton{
    color: rgb(237, 237, 248);
    width:50px;
    height: 20px;
    transition: 2s all ease;
    background-color: brown;
}
#boton:hover{
    transition: 2s all ease;
    transform: scale(1.2);
}